[user]
	email = mattkohls13@gmail.com
	name = Matt Kohls
	signingkey = 16D76B74E19E38A8
[help]
	autocorrect = 1
[alias]
	st = status
	ll = log --stat --abbrev-commit
	graph = log --graph --full-history --all --color --pretty=tformat:"%C(red)%h%C(reset)%x09%C(green)%d%C(reset)%C(bold)%s%C(reset)%C(yellow)(%an)%C(reset)"
	bv = for-each-ref --color=always --sort=-committerdate --format='%(color:green)[%(refname:short)]%(color:reset) %(color:blue)%(committerdate:short)%(color:reset) %(color:yellow)%(objectname:short)%(color:reset) %(contents:subject)' refs/heads/
[core]
	editor = nvim
	excludesfile = /home/matt/.gitignore_global
